[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OxyBS"]
	path = OxyBS
	url = https://github.com/cran/OxyBS
[submodule "RPMM"]
	path = RPMM
	url = https://github.com/cran/RPMM
